* {
    box-sizing: border-box;
    padding: 20;
    margin: 20;
    background-color: lightslategray;
}
body {
    background-color: mintcream;
}

.header {
    font-family: monospace;
    font-size: larger;
    padding: 10px;
    color: rgb(2, 1, 12);
    background-color: rgb(14, 170, 218);
    width: 100%;
}
.header h1 {text-align: center;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

.border {
    border-style: double;
    border-color: lightpink;
    padding: 15px;
    list-style-type: none;
    display: block;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

}
.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    @media only screen and (max-width: 750px) {
 .link-container {
          flex-direction: column;
          align-items: center;
        }
    }
.footer {
        text-align: center;
        list-style-type: none;
        background-color: rgb(14, 170, 218);
        

    }
.contact-links{
    text-align: center;
    list-style-type: none;}

.footer {
    text-align: center;
    list-style-type: none;
}
.link-container2 {
    list-style-type: none;
    
}
.content {
   
}