* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: mintcream;
}

.header {
    font-family: monospace;
    font-size: larger;
    padding: 10px;
    color: rgb(2, 1, 12);
    background-color: rgb(14, 170, 218);
    width: 100%;
}
.header h1 {text-align: center;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

.border {
    border-style: double;
    border-color: lightpink;
    padding: 15px;
    list-style-type: none;

}
.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    @media only screen and (max-width: 600px) {
 .link-container {
          flex-direction: column;
          align-items: center;
        }
    }

